@model HRMS.Models.Department
@{
    ViewBag.Title = "Index";
}

<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Create Department</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {

            <div class="form-group">
                <label for="exampleInputEmail1">Department Name</label>
                @Html.EditorFor(model => model.DepartmentName, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
               @placeholder = "Enter  your name"
                    }
                })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</div>


