@model List<HRMS.Models.Employee>
@{
    ViewBag.Title = "EmployeeList";
}


<div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Employee Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="#">@item.Id</a></td>
                        <td>@item.EmployeeName</td>
                        <td></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="card-footer"></div>
</div>



